@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
 
/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.content {
  /* max-width: 600px; */
  margin: 40px auto;
  padding: 20px;
}

/* navbar */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  /* max-width: 600px; */
  min-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 > a{
  padding-left: 50px;
  color: #576CBC;
}
.navbar .links {
  padding-right: 50px;
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #576CBC;
}
#newPath {
  color: white;
  background-color: #576CBC;
  border-radius: 8px;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out, border-radius .3s ease-in-out;
}

#newPath:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #4a5da8;
  border-radius: 16px;
}